<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:include="/fragments/summernote::head (board=${board}, sp=${sp})">
</head>
<body>
<div th:replace="/fragments/default::navbar"></div>
<div th:replace="/fragments/default::jumbo"></div>
<div class="container" th:include="/fragments/boardForm::form(${board}, ${sp})">
	
</div>
<div th:replace="/fragments/default::footer"></div>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<script>
	$(document).ready(function(){
		$("#contents").summernote();
	});
</script>
</body>
</html>