<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:include="/fragments/default::header (${board}+'List')">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div th:replace="/fragments/default::navbar"></div>
	
	<div th:replace="/fragments/default::jumbo"></div>
	
	<div>
		<h1 th:text="${board}"></h1>
	</div>
	<div class="d-flex justify-content-center">
		<form method="get" th:action="@{./list}" id="frm">
			<input type="hidden" name="curPage" id="curPage">
			<select class="custom-select" name="kind" th:value="${pager.kind}">
				<option value="title">제목</option>
				<option value="contents">내용</option>
				<option value="writer">작성자</option>
			</select>
			<input type="text" class="form-control" placeholder="Search" name="search" th:value="${pager.search}">
			<button class="btn btn-success">Search</button>
		</form>
	</div>
	
	<table class="table">
	  <thead class="thead-dark">
	    <tr>
	      <th scope="col">Num</th>
	      <th scope="col">Title</th>
	      <th scope="col">Writer</th>
	      <th scope="col">Date</th>
	      <th scope="col">Hit</th>
	      <th scope="col">Index</th>
	      <th scope="col">Count</th>
	      <th scope="col">Size</th>
	      <th scope="col">current</th>
	      <th scope="col">even</th>
	      <th scope="col">odd</th>
	      <th scope="col">first</th>
	      <th scope="col">last</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr th:each="board, state:${list}">
	      <th scope="row" th:text="${board.num}"></th>
	      						<!-- @{|${board}select|} -->
	      						<!-- parameter전송 @{URL주소(파라미터명=값, 파라미터명2=값2,...)} -->
	      <td><a href="#" th:href="@{select(num=${board.num}, title=${board.title})}" th:text="${board.title}">Mark</a></td>
	      <td th:text="${board.writer}">Otto</td>
	      <td th:text="${board.regDate}">Otto</td>
	      <td th:text="${board.hit}">@mdo</td>
	      <td th:text="${state.index}">@mdo</td>
	      <td th:text="${state.count}">@mdo</td>
	      <td th:text="${state.size}">@mdo</td><!-- 총 갯수 -->
	      <td th:text="${state.current}"></td><!-- 현재 요소 -->
	      <td th:text="${state.even}"></td><!-- 반복문 돌릴때 현재 상태가 짝수인지 확인 -->
	      <td th:text="${state.odd}"></td><!-- 반복문 돌릴때 현재 상태가 홀수인지 확인 -->
	      <td th:text="${state.first}"></td><!-- 반복문 돌릴때 현재 상태가 첫번째인지 확인 -->
	      <td th:text="${state.last}"></td><!-- 반복문 돌릴때 현재 상태가 마지막인지 확인 -->
	    </tr>
	  </tbody>
	</table>
	
	<a href="#" class="btn btn-info" th:href="@{./fileDown}">FileDown</a>
	<a href="#" class="btn btn-primary" th:if="${session.member == 'admin'}" th:href="@{./insert}">Write</a>
	<!-- th:if로 사용할 수 있고, th:unless로 if문의 반대식으로 사용할 수 있다. 사용방법은 둘다 같다. -->
	<div class="container d-flex justify-content-center">
		<ul class="pagination">
		  <li class="page-item" th:classappend="${!pager.pre}? 'disabled'">
		  	<a class="page-link pager" href="#" th:title="${pager.startNum-1}">Previous</a>
		  </li>
		  <li class="page-item" th:each="i : ${#numbers.sequence(pager.startNum, pager.lastNum)}">
		  	<a class="page-link pager" href="#" th:title="${i}" th:text="${i}"></a>
		  </li>
		  <li class="page-item"  th:classappend="${!pager.next}? 'disabled'">
		  	<a class="page-link pager" href="#" th:title="${pager.lastNum+1}">Next</a>
		  </li>
		</ul>
	</div>
<div th:replace="/fragments/default::footer"></div>
<script type="text/javascript" th:src="@{/js/boardSearch.js}"></script>
</body>
</html>