<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.iu.s1.board.notice.NoticeMapper">
  	<!-- 공통으로 사용하는 sql문을 이렇게 따로 빼내는 경우가 있다. -->
  	<sql id="searcher">
  		<where>
	  		<choose>
		  		<when test="kind=='title'">
		  			title like concat('%', #{search}, '%')
		  		</when>
		  		<when test="kind=='writer'">
		  			writer like concat('%', #{search}, '%')
		  		</when>
		  		<otherwise>
		  			contents like concat('%', #{search}, '%')
		  		</otherwise>
	  		</choose>
	  	</where>	
  	</sql>
  	
  	
  	<select id="getList" resultType="NoticeVO" parameterType="Pager">
  	select * from notice 
  	<include refid="searcher"></include>
  	order by num desc
  	limit #{startRow}, #{perPage}
  	<!-- limit 시작 index번호(0 부터 시작), 가지고 올 개수 -->
  	</select>
  	<select id="getSelect" parameterType="NoticeVO" resultType="NoticeVO">
  		select * from notice where num = #{num}
  	</select>
  	<update id="setHitUpdate" parameterType="NoticeVO">
  		update notice set hit=hit+1 where num=#{num}
  	</update>
  	<insert id="setBoard" parameterType="NoticeVO">
  		insert into notice (num, title, writer, contents, regDate, hit) values(#{num}, #{title}, #{writer}, #{contents}, sysdate(), 0)
  	</insert>
  	<select id="getTotalCount" parameterType="Pager" resultType="java.lang.Long">
  		select count(num) from notice
  		<include refid="searcher"></include>
 	</select>
 	
 	<delete id="setDelete" parameterType="NoticeVO">
 		delete from notice where num=#{num}
 	</delete>
 	
 	<update id="setUpdate">
 		update notice set title=#{title}, writer=#{writer}, contents=#{contents} where num=#{num}
 	</update>
 	
  </mapper>